body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: rgb(75, 101, 216);
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.container {
    display: flex;
}

.sidebar {
    flex: 0 0 20%; /* Fixed width for the sidebar */
    background-color: #eee;
    padding: 1em;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    display: block;
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: #fff;
    border-radius: 4px;
}

.sidebar a:hover {
    background-color: #ccc;
}

main {
    flex: 1;
    padding: 1em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.social-media {
    margin-top: 1em;
}

.social-media a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 1em;
    background-size: 90px 30px;
    transition: background-position 0.3s ease-in-out;
}

.social-media a.facebook {
    background-image: url('/images/fb.png');
    background-position: 0 0;
}

.social-media a.twitter {
    background-image: url('/images/twt.png');
    background-position: -30px 0;
}

.social-media a.instagram {
    background-image: url('/images/ig.jpg');
    background-position: -60px 0;
}

.social-media:hover a {
    filter: grayscale(100%);
}

.social-media a:hover {
    background-position: 0 -30px;
}