body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: rgb(75, 101, 216);
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.container {
    display: flex;
}

.sidebar {
    flex: 0 0 20%;
    background-color: #eee;
    padding: 1em;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    display: block;
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: #fff;
    border-radius: 4px;
}

.sidebar a:hover {
    background-color: #ccc;
}

main {
    flex: 1;
    padding: 1em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.social-media {
    margin-top: 1em;
}

.social-media a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 1em;
    background-size: 30px;
}

.social-media a.facebook {
    background-image: url('download.png');
}

.social-media a.twitter {
    background-image: url('images/twitter.png');
}

.social-media a.instagram {
    background-image: url('images/twitter.png');
}

.right-sidebar,
.left-sidebar {
    flex: 0 0 20%;
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-sidebar .article-preview,
.left-sidebar .related-links {
    margin-bottom: 1em;
}

.right-sidebar .article-preview h4,
.left-sidebar .related-links h4 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.right-sidebar .article-preview ul,
.left-sidebar .related-links ul {
    list-style: none;
    padding: 0;
}

.right-sidebar .article-preview a,
.left-sidebar .related-links a {
    text-decoration: none;
    color: #333;
    display: block;
    margin-bottom: 0.5em;
}

.right-sidebar .article-preview a:hover,
.left-sidebar .related-links a:hover {
    text-decoration: underline;
}
